body {
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
}

.form-control {
    background-color :rgb(167, 160, 160)
}

.jumbo-color {
    background-color :rgb(177, 171, 171)
}

.container-bgcolor {
    background-color:rgb(255, 251, 247)
}   